DATABASE_URL=postgresql://name:pass@host:port/crypto_pulse
RABBITMQ_URL=amqp://name:pass@host:port/

GOOGLE_CLIENT_ID=123123123.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-654321_SECRET
GOOGLE_CALLBACK_URL=http://localhost:3000/oauth/callback


COINGECKO_API_URL=https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd
