DATABASE_URL=postgresql://name:pass@host:port/crypto_pulse
RABBITMQ_URL=amqp://name:pass@host:port/
REDIS_HOST=redis_host
REDIS_PORT=port

GOOGLE_CLIENT_ID=123123123.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-654321_SECRET
AUTH_SERVICE_URL=http://localhost:3001
FRONTEND_URL=http://localhost:4200
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback


COINGECKO_API_URL=https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd

JWT_ACCESS_SECRET=jwt_secret

TELEGRAM_BOT_TOKEN=123123123:abcdefghijklmnopqrstuvwxyz
TELEGRAM_BOT_USERNAME=example_bot
TELEGRAM_BOT_PORT=3009