PORT=3001
DATABASE_URL=postgresql://name:pass@host:port/crypto_pulse
RABBITMQ_URI=amqp://name:pass@host:port/

JWT_ACCESS_SECRET=jwt_secret
JWT_ACCESS_EXPIRES_IN=1h

GOOGLE_CLIENT_ID=123123123.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-654321_SECRET
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback

FRONTEND_URL=http://localhost:4200