PORT=3000
DATABASE_URL=postgresql://name:pass@host:port/crypto_pulse
RABBITMQ_URI=amqp://name:pass@host:port/
REDIS_HOST=redis_host
REDIS_PORT=6379

JWT_ACCESS_SECRET=jwt_secret

FRONTEND_URL=http://localhost:4200
AUTH_SERVICE_URL=http://localhost:3001

TELEGRAM_BOT_USERNAME=example_bot